{% extends "base.html" %}

{% block title %}Products List{% endblock %}

{% block header %}
  <h2>Products List</h2>
{% endblock %}

{% block content %}

  <table class="table table-striped table-bordered products-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Details</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
  {% for product in object_list %}
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.details }}</td>
      <td>{{ product.price }}</td>
      <td>
        <a class='btn btn-primary btn-small' href="{% url 'product_edit' product.id %}">edit</a>
        <a class='btn btn-danger btn-small remove' href="{% url 'product_remove' product.id %}">delete</a>
      </td>
    </tr>
  {% endfor %}
  </table>

  <a class='btn btn-success' href="{% url 'product_add' %}">add new product</a>

{% endblock %}

{% block extra_scripts %}
  <script src="{{STATIC_URL}}bootbox.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $('.products-table').on('click', '.remove', function(event){
        event.preventDefault();
        var url = $(this).attr('href');

        bootbox.confirm('Are you sure to remove that item?', 'Cancel', 'Remove!', function(result){
          if (result) {
            window.location.href = url;
          }
        });
    });
  </script>
{% endblock %}
